/*
colors: http://paletton.com/#uid=53l0M0kaLKt2iZk6kTpfezQjAsv
*/

body {
  background-color: #89C4CC;
  height: 100%;
}

.cyan {
  background-color: #38818B;
  color: #FFF;
}

.is-half {
  max-width: 860px;
}

.green {
  background-color: #89CB4F;
  color: #FFF;
}

.purple {
  background-color: #544A9E;
  color: #FFF;
}

.solidwhite {
  background-color: #FFF;
  color: inherit;
  color: rgba(0, 0, 0, 0.7);
}

.transparentwhite {
  background-color: rgba(255, 255, 255, 0.8);
  color: rgba(0, 0, 0, 0.7);
}

.lightred {
  background-color: #E57373;
  color: rgba(255, 255, 255);
}

.red {
  background-color: #CF5070;
  color: #FFF;
}

.text-is-small {
  font-size: 12px;
}

.text-is-medium {
  font-size: 18px;
}

.text-is-large {
  font-size: 24px;
}

.text-is-huge {
  font-size: 36px;
}

.pigred {
  background-color: #FF867C;
  color: #FFFFFF;
}

.warningyellow{
  background-color: #FFFDCD;
}

.has-shadow {
  box-shadow: 5px 5px 0px 1px rgba(0, 0, 0, 0.5);
}

.has-shadow-small {
  box-shadow: 0px 3px 0px 1px rgba(0, 0, 0, 0.5);
}

.rounded {
  border-radius: 12px;
}

.is-padded {
  padding: 0.75rem;
}

.is-padded-more {
  padding: 3rem;
}

.has-margin {
  margin: 0.75rem;
}

.has-margin-more {
  margin: 3rem;
}

.margin-left-is-auto{
  margin-left: auto;
}

.has-margin-left {
  margin-left: 16px;
}

.has-margin-right {
  margin-right: 16px;
}

.has-margin-top {
  margin-top: 0.1em;
}

.not-padded {
  padding: 0px !important;
}

.not-rounded {
  border-radius: 0px !important;
}

.padded-right {
  padding-right: 16px;
}

.padded-right-more {
  padding-right: 32px;
}

.padded-right-most {
  padding-right: 64px;
}

.padded-left {
  padding-left: 16px;
}

.padded-left-more {
  padding-left: 32px;
}

.padded-left-most {
  padding-left: 64px;
}

.padded-top {
  padding-top: 24px;
}

.padded-top-more {
  padding-top: 48px;
}

.padded-bottom {
  padding-bottom: 64px;
}

.rounded-left {
 border-radius: 4px 0 0 4px;
}

.rounded-right {
 border-radius: 0 4px 4px 0;
}

.is-hidden {
  visibility: hidden;
}

.is-shown {
  visibility: show;
}

.text-is-1 {
  line-height: 1;
}

.no-margin {
  margin: 0;
}

.infoText {
  font-size: 0.8em;
  line-height: 1.75;
}

.input {
  min-width: 80px;
  width: 100%;
  border: 1px solid gray;
  border-radius: 0 0 0 0;
  transition: 250ms;
  box-shadow: 0 0 0 0;
}

.input:hover {
  transition: 250ms;
  box-shadow: 0px 2px 0 1px gray;
  margin-top: -2px;
}

.input::placeholder {
  color: rgba(0, 0, 0, 0.7);
}

.centered {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.centerBox {
  padding: 32px;
  padding-top: 32px;
  margin-bottom: 16px;
}

.button {
  border: 0px;
  border-radius: 0 0 0 0;
  border-color: currentColor;
  background-color: red;
}

.locateButton {
  border: 1px solid red;
  cursor: pointer;
  justify-content: center;
  padding-bottom: calc(0.375em - 1px);
  padding-left: 0.75em;
  padding-right: 0.75em;
  padding-top: calc(0.375em - 1px);
  text-align: center;
  white-space: nowrap;
  color: #F44336;
  background-color: white;
  transition: 250ms;
}

.locatedButton {
  border: 1px solid#B71C1C;
  cursor: pointer;
  justify-content: center;
  padding-bottom: calc(0.375em - 1px);
  padding-left: 0.75em;
  padding-right: 0.75em;
  padding-top: calc(0.375em - 1px);
  text-align: center;
  white-space: nowrap;
  color: white;
  background-color: #F44336;
  box-shadow: inset 0px 1px 0px 1px#B71C1C;
}

.locatedButton:hover,
.locatedButton.is-hovered {
  color: #FF867C;
  box-shadow: inset 0 1px 2px #B71C1C;
}

.locateButton:hover,
.locateButton.is-hovered {
  transition: 250ms;
  background-color: #FF867C;
  border: 1px solid #FF867C;
  box-shadow: 0px 2px 0 1px #B71C1C;
  color: #FFF;
  margin-top: -2px;
}

.locatedButton:focus,
.locatedButton.is-focused {
  color: white;
  box-shadow: inset 0 1px 2px #B71C1C;
}

.locateButton:focus,
.locateButton.is-focused {
  color: #FF867C;
}

.locatedButton:focus:not(:active),
.locatedButton.is-focused:not(:active) {
  box-shadow: inset 0 1px 2px #B71C1C;
}

.locateButton:focus:not(:active),
.locateButton.is-focused:not(:active) {
  box-shadow: inset 0 1px 2px #B71C1C;
}

.locatedButton:active,
.locatedButton.is-active {
  color: white;
  box-shadow: inset 0 1px 2px #B71C1C;
}

.locateButton:active,
.locateButton.is-active {
  color: #FF867C;
}

.searchButton {
  cursor: pointer;
  justify-content: center;
  padding-bottom: calc(0.375em - 1px);
  padding-left: 0.75em;
  padding-right: 0.75em;
  padding-top: calc(0.375em - 1px);
  text-align: center;
  white-space: nowrap;
  background-color: #4caf50;
  color: #FFF;
  transition: 250ms;
  min-width: 50px;
  border: 1px solid transparent;
}

.searchButton:hover {
  border: 1px solid #4CAF50;
  transition: 250ms;
  background-color: white;
  color: #4CAF50;
  min-width: 50px;
  box-shadow: 0px 2px 0 1px #4CAF50;
  margin-top: -2px;
}

.searchButton:focus {
  border: 1px solid #1B5E20;
  cursor: pointer;
  justify-content: center;
  padding-bottom: calc(0.375em - 1px);
  padding-left: 0.75em;
  padding-right: 0.75em;
  padding-top: calc(0.375em - 1px);
  text-align: center;
  white-space: nowrap;
  color: white;
  background-color: #4CAF50;
  box-shadow: 0px 1px 0px 1px #1B5E20;
  transition: 250ms;
}

.fade-in {
  opacity: 1;
  transition: opacity 500ms;
}


.fade-out {
  opacity: 0;
  transition: opacity 500ms;
}

.overrideh1 {
  font-size: 1.25em;
  font-weight: bold;
}

.is-big-icon {
  font-size: 1.25em;
}

.is-clickable {
  cursor: pointer;
}

.gradientTitle {
  font-size: 3em;
  font-weight: 800;
  font-family: 'Helvetica Neue', sans-serif;
  transition: 2s;
  color: #CF5070;
  background: rgb(#CF5070);
  background: -webkit-linear-gradient(35deg, #CF5070 0%, #544A9E 35%, #38818B 70%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  line-height: 64px;
  display: flex;
  justify-content: flex-start;
}

.gradientTitle:hover {
  color: #38818B;
  transition: 2s;
  left: 20px;
}

.movie-container {
  min-width:0;
  max-height:0;
  min-height: 1100px;
}

.riseSet {
  transition: 200ms;
  height:1em;
  width: 100%;
  border-radius: 0.25em;
}

.riseSet:hover {
  transition: 200ms;
  height: 2em;
}

.movie-item {
  text-align: center;
  font-size: 30px;
  color: black;
}

.movie-item img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
}

.footer {
  overflow: hidden;
  position: relative;
}

.card-one {
  position: absolute;
  left: -200px;
  bottom: 45px;
  height: 200px;
  width: 400px;
  background: linear-gradient(225deg, rgba(62, 49, 140, .5) 0%, rgba(118, 109, 183, 0.5) 100%);
}

.card-two {
  position: absolute;
  left: 200px;
  top: 45px;
  height: 300px;
  width: 300px;
  background: linear-gradient(45deg, rgba(227, 197, 88, 0.7) 0%, rgba(255, 244, 205, 0.7) 100%);
}