/*
colors http://paletton.com/#uid=73v2c0kgq++1q++ae++lS+XrxZU 
alt: http://paletton.com/#uid=7581t0klskugcw5hBq3qkflvPa5
*/

body {
  background-color: #00BCD4;
  height: 100vh;
}

.cyan {
  background-color: #00BCD4;
  color: #FFF;
}

.green {
  background-color: #4CAF50;
  color: #FFF;
}

.purple {
  background-color: #9C27B0;
  color: #FFF;
}

.solidwhite {
  background-color: #FFF;
  color: inherit;
  color: rgba(0, 0, 0, 0.7);
}

.transparentwhite {
  background-color: rgba(255, 255, 255, 0.8);
  color: rgba(0, 0, 0, 0.7);
}

.lightred {
  background-color: #E57373;
  color: rgba(255, 255, 255);
}

.red {
  background-color: #F44336;
  color: #FFF;
}

.activeText {
  color: rgba(0, 0, 0, 223);
}

.inactiveText {
  color: rgba(0, 0, 0, 97);
}

.superActiveText {
  color: #FF867C;
}

.text-is-small {
  font-size: 12px;
}

.text-is-medium {
  font-size: 18px;
}

.text-is-large {
  font-size: 24px;
}

.text-is-huge {
  font-size: 36px;
}

.skyblue {
  background-color: #84CFFF;
}

.darkskyblue {
  background-color: #30ACFC;
  color: #fff;
}

.pigred {
  background-color: #FF867C;
  color: #FFFFFF;
}

.grassgreen {
  background-color: #7CFF93;
}

.trumporange {
  background-color: #FFC57C;
}

.warningyellow{
  background-color: #fff200;
}

.has-shadow {
  box-shadow: 5px 5px 0px 1px rgba(0, 0, 0, 0.5);
}

.has-shadow-small {
  box-shadow: 0px 3px 0px 1px rgba(0, 0, 0, 0.5);
}

.rounded {
  border-radius: 12px;
}

.is-padded {
  padding: 0.75rem;
}

.is-padded-more {
  padding: 3rem;
}

.has-margin {
  margin: 0.75rem;
}

.has-margin-more {
  margin: 3rem;
}

.margin-left-is-auto{
  margin-left: auto;
}

.has-margin-left {
  margin-left: 16px;
}

.has-margin-top {
  margin-top: 0.1em;
}

.not-padded {
  padding: 0px !important;
}

.not-rounded {
  border-radius: 0px !important;
}

.padded-right {
  padding-right: 16px;
}

.padded-right-more {
  padding-right: 32px;
}

.padded-right-most {
  padding-right: 64px;
}

.padded-left {
  padding-left: 16px;
}

.padded-left-more {
  padding-left: 32px;
}

.padded-left-most {
  padding-left: 64px;
}

.padded-bottom {
  padding-bottom: 64px;
}

.rounded-left {
 border-radius: 4px 0 0 4px;
}

.rounded-right {
 border-radius: 0 4px 4px 0;
}

.is-hidden {
  visibility: hidden;
}

.is-shown {
  visibility: show;
}

.text-is-1 {
  line-height: 1;
}

.no-margin {
  margin: 0;
}

.input {
  min-width: 85px;
  width: 100%;
  border: 1px solid gray;
  border-radius: 0 0 0 0;
  transition: 250ms;
  box-shadow: 0 0 0 0;
}

.input:hover {
  transition: 250ms;
  box-shadow: 0px 2px 0 1px gray;
  margin-top: -2px;
}

.input::placeholder {
  color: rgba(0, 0, 0, 0.7);
}

.centered {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.centerBox {
  padding: 32px;
  padding-top: 32px;
}

.button {
  border: 0px;
  border-radius: 0 0 0 0;
  border-color: currentColor;
  background-color: red;
}

.locateButton {
  border: 1px solid red;
  cursor: pointer;
  justify-content: center;
  padding-bottom: calc(0.375em - 1px);
  padding-left: 0.75em;
  padding-right: 0.75em;
  padding-top: calc(0.375em - 1px);
  text-align: center;
  white-space: nowrap;
  color: #F44336;
  background-color: white;
  transition: 250ms;
}

.locatedButton {
  border: 1px solid#B71C1C;
  cursor: pointer;
  justify-content: center;
  padding-bottom: calc(0.375em - 1px);
  padding-left: 0.75em;
  padding-right: 0.75em;
  padding-top: calc(0.375em - 1px);
  text-align: center;
  white-space: nowrap;
  color: white;
  background-color: #F44336;
  box-shadow: inset 0px 1px 0px 1px#B71C1C;
}

.locatedButton:hover,
.locatedButton.is-hovered {
  color: #FF867C;
  box-shadow: inset 0 1px 2px #B71C1C;
}

.locateButton:hover,
.locateButton.is-hovered {
  transition: 250ms;
  background-color: #FF867C;
  border: 1px solid #FF867C;
  box-shadow: 0px 2px 0 1px #B71C1C;
  color: #FFF;
  margin-top: -2px;
}

.locatedButton:focus,
.locatedButton.is-focused {
  color: white;
  box-shadow: inset 0 1px 2px #B71C1C;
}

.locateButton:focus,
.locateButton.is-focused {
  color: #FF867C;
}

.locatedButton:focus:not(:active),
.locatedButton.is-focused:not(:active) {
  box-shadow: inset 0 1px 2px #B71C1C;
}

.locateButton:focus:not(:active),
.locateButton.is-focused:not(:active) {
  box-shadow: inset 0 1px 2px #B71C1C;
}

.locatedButton:active,
.locatedButton.is-active {
  color: white;
  box-shadow: inset 0 1px 2px #B71C1C;
}

.locateButton:active,
.locateButton.is-active {
  color: #FF867C;
}

.searchButton {
  cursor: pointer;
  justify-content: center;
  padding-bottom: calc(0.375em - 1px);
  padding-left: 0.75em;
  padding-right: 0.75em;
  padding-top: calc(0.375em - 1px);
  text-align: center;
  white-space: nowrap;
  background-color: #4caf50;
  color: #FFF;
  transition: 250ms;
  min-width: 50px;
  border: 1px solid transparent;
}

.searchButton:hover {
  border: 1px solid #4CAF50;
  transition: 250ms;
  background-color: white;
  color: #4CAF50;
  min-width: 50px;
  box-shadow: 0px 2px 0 1px #4CAF50;
  margin-top: -2px;
}

.searchButton:focus {
  border: 1px solid #1B5E20;
  cursor: pointer;
  justify-content: center;
  padding-bottom: calc(0.375em - 1px);
  padding-left: 0.75em;
  padding-right: 0.75em;
  padding-top: calc(0.375em - 1px);
  text-align: center;
  white-space: nowrap;
  color: white;
  background-color: #4CAF50;
  box-shadow: 0px 1px 0px 1px #1B5E20;
  transition: 250ms;
}

.fade-in {
  opacity: 1;
  transition: opacity 500ms;
}


.fade-out {
  opacity: 0;
  transition: opacity 500ms;
}

.overrideh1 {
  font-size: 1.25em;
  font-weight: bold;
}

.is-big-icon {
  font-size: 1.25em;
}

.is-clickable {
  cursor: pointer;
}

.onTop {
  color: black;
  font-size: 6em;
}

.onBottom {
  color: #00BCD4;
  transform: rotate(45deg);
  font-size: 3em;
  margin-left: -1.9em;
  margin-bottom: 0.3em;
}

.movie-container {
  min-width:0;
  max-height:0;
}

.movie-item {
  text-align: center;
}

.movie-item img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}